@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



:root {
	/* --BorderColor: #e2e2e3; */
	/* --BorderColor: #c5c5c5; */
	--BorderColor: #d4d4d4;
	--background-color: #fafafa;
	/* --favBlue:#2F373D; */
	--favBlue:#1d2834;
	/* --LightGreyHighlight: #f4f2ee; */
 --box-shadow: 0 .2rem .6rem -.2rem rgba(33, 43, 54, .16);
	--SitePadding: 4rem 5rem;
	--CardsPadding:1.50rem;
	--border-radius: 1rem;
	--image-border-radius: .5rem;
	--HeroBannerWidth: 120rem;
	--ContainerWidth: 90rem;
	--Lineheight: 1.6;
	--SecondaryLineHeight: 5.5rem;
	--main-color: #151515;
	--secondary-color: #e9e9e9;
	--LightGrey-color: #c9c9c9;
	--CardColor: #F3F4F5;
--HeadlineFont:  "Albert Sans", sans-serif;
	--HeaderMain:clamp(2rem, 6rem, 10rem);
	--SubHeader: 2.5rem;
	--CardHeader:1.5rem;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-optical-sizing: auto;
}


/* .Container { 
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: minmax(0, 1fr);	
	min-height: 100vh;
	margin: 0 auto;
	width: 100%;
	box-shadow: var(--box-shadow);
	max-width: var(--ContainerWidth);
}
 */

p, p a, span{
  font-family:Arial, Helvetica, sans-serif;
  font-style: normal;
  letter-spacing: 0.01em;
  font-weight: 400;
  	font-size:1rem;
	line-height: var(--Lineheight);
	color: #1F2937;
}

p a{
	text-decoration: underline;
	color: #006699;
}

 .images{
	border-radius: var(--border-radius);
	border: var(--BorderColor);
	width: 100%;
	height: auto;
}
	

html{
	overflow-x: hidden;
}

h1 {
	font-family: var(--HeadlineFont);
	font-size: var(--HeaderMain);
	font-weight: 700;
	letter-spacing: -.040em;
}

h1 a:hover {
	color: #333333;
}
h2{
		font-family: var(--HeadlineFont);
    font-size: var(--SubHeader);
	font-weight: 700;
	letter-spacing: -0.02em;
}

.scroll-margin-top{
	scroll-margin-top: 83px;
}



header {
	position: sticky;
	top: 0;
	z-index: 100;
	padding: 20px 0;
	    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
border-bottom: 1px solid #dedede;
background-color:white;
}


.navContainer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-inline: 5rem;
	height: inherit;
}


header .logo a{
	font-weight: 500;
	color: var(--main-color);
    letter-spacing: .01em;
font-family: var(--HeadlineFont);
    font-size: var(--CardHeader);
	font-style: normal;
}

   
header .logo a:hover{
	color:var(--secondary-color);
}

/*MAIN MENU*/
#menu-icon {
	display: none;
}
nav{
	margin: 0 auto;
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

nav ul li {
	list-style: none;
}

nav ul li a, .contactButton {
    color: var(--main-color);
    font-family: var(--HeadlineFont);
    letter-spacing: 0.02em;
    font-size: 1rem;
    align-items: center;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav ul li a:hover{
	cursor: pointer;
	color:#7c7c7c;
	text-decoration: underline;
}

.contactBtn {
    height: 40px;
    background-color: #033d5a;
    border: 1px solid var(--favBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 30px;
    transition-duration: 0.5s;
    color: white;
}
/*MAIN MENU*/


.HeroBanner {
	background-color: var(--secondary-color);
	display: flex;
	align-items: center;
	min-height: 89vh;
	margin: 0;
	padding: var(--SitePadding);
	width: 100%;
	max-width: var(--ContainerWidth);
}

.HeroGrid{
/* 	padding: 2rem;
	background-color: #333333;
	border-radius: var(--border-radius); */
     display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: start;
}
.innerHeroCopy{
	display: flex;
	flex-direction: column;
gap:1.5rem;
}

.HeroGrid h1 {
	line-height: 5.75rem;
    overflow-wrap: anywhere;
}

@media (max-width: 900px) {
	.HeroBanner{
		padding:2rem;
		display: flex;
		align-items: center;
		height: auto;
	}

    .HeroGrid{
		display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
    }
	.innerHeroCopy {
		gap: 1rem;
	}
	
  .SidebarContent {
        width: 100%;
    }

    .contentHolderHeader {
        width: 100%;
    }
	.ContentHolderGrid{
		display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
}
  

}
.eyebrow{
	margin: 0 0 16px;
    color: var(--favBlue);
    font-size: 12px;
    letter-spacing: .04em;
	text-transform: uppercase;
}
.hero-subtitle {
    font-size: clamp(25px, 3vw, 39px);
    letter-spacing: -.016em;
	line-height: normal;
}
.job-meta, .tags{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    color: #383838;
    font-weight: 600;
	font-style: bold;
}

.tags span {
	background-color: white;
    padding: 8px 16px;
    border: 1px solid #cacaca;;
    border-radius: 999px;
    font-size: 1rem;
}


.job-meta p:not(:first-child)::before {
    content: "•";
	margin-right: 1rem;
    color: rgb(153, 153, 153);
}



.HeroBannerBox img{
	border-radius: var(--border-radius);
	width: 100%;
}

.ProjectHolder{
	background-color: white;
	border-radius: var(--border-radius); 
	padding: var(--SitePadding);
	max-width: var(--ContainerWidth);
	width: 100%;
	height:fit-content;
	margin: 20px auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}


 .ContentHolder{
			border-bottom: 1px solid var(--secondary-color);
	width: 100%;
	padding: var(--SitePadding);
	max-width: var(--ContainerWidth);
	background: #FFFFFF;
	border-top: none;
  height: auto;
    min-height: 89vh;
		display:flex;
	flex-direction: column;
justify-content: flex-start;
	overflow: hidden;
}
.ContainerHero{

}
.ContentHolderGrid{
	display: grid;
	/* grid-template-columns: 398px 3fr; */
  grid-template-columns: repeat(auto-fit, minmax(min(320px, 100%), 1fr));
  	gap: 4rem;
}


.contentHolderHeader h2{
	    margin-bottom: 2rem;
}


/*PORTFOLIO SECTION*/
.PortHeading{
	    margin-bottom: 2rem;
}

.CardGallery {
	display: grid;
grid-template-columns: repeat(auto-fit, minmax(400px, 1fr)); 
	gap: 1rem; 
	justify-content: center;
	width: 100%;
}


.Cards {
	display: flex;
	flex-direction: column;
	border-radius: var(--border-radius);
	border: var(--LightGrey-color) 1px solid;
	box-shadow: var(--box-shadow);
	box-sizing: border-box;
height: fit-content;
  	overflow: hidden;
}


.Cards img{
	border-top-left-radius: var(--image-border-radius);
  width: 100%;
  height: auto;
  	object-fit: cover;
	overflow: auto;
	background-size: cover;
	z-index: 1;
}

.CardInfo{
	padding: var(--CardsPadding);
}

.Cards h1{
	letter-spacing: -.01em;
	font-family: var(--HeadlineFont);
    font-size: var(--CardHeader);
	font-weight: 600;
	color: #000;
	margin-bottom: 1rem;
}
.Cards h1 a{
	color: var(--favBlue);
}

.Cards h1 a:hover{
	color: #006699;
			transition-duration: 0.5s;

}



.CardButton{
	display: flex;
	justify-content: flex-end;
	margin-top: auto;
}

.button-link {
	width: 100%;
	padding: var(--CardsPadding);
	background-color: var(--secondary-color);
	color: black;
	font-family: var(--HeadlineFont);
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.Cards .button-link{
	border-top: 1px solid var(--LightGrey-color);
}

.HeroBannerBox .button-link:hover, .button-link:hover {
	cursor: pointer;
	color: white;
		background: #006699;

}


.HeroBannerBox .button-link{
	max-width: fit-content;
	color:var(--main-color);
		background:white;
	border-radius: 32px;
	padding: 8px 16px 8px 16px;
}


.SiteFooter{
	width: 100%;
	max-width: var(--ContainerWidth);
    padding: var(--SitePadding) 1rem;
		background: var(--main-color);
	border-top: #cdcdcd 1px solid;
}

.footerGrid{
	display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 70px;
	padding-bottom: 2rem;
}


@media (max-width: 900px) {

	.footerGrid{
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 2rem;
	}

.footerInfo{
	grid-column: 1/-1;
}


	.SiteFooter{
padding: 2rem;
width: 100%;
	}
	.FooterBottom{
		display: grid;
		grid-template-columns: 1fr;
		gap:2rem;
	}
}


.footerLinks h2, .footerInfo h2{
	   font-family: var(--HeadlineFont);
    font-size: 1rem;
    margin-bottom: .5rem;
    letter-spacing: .01em;
    text-transform: uppercase;
}

.footerLinks ul{
display: flex;
	flex-direction: column;
	align-items:flex-start;
	justify-content:left;
	gap: .5rem;
}

.footerLinks ul li {
	list-style: none;
}

.footerLinks  ul li a {
	color: white;
    font-family: var(--HeadlineFont);
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 1rem;
    align-items: center;
    text-decoration: none;
    transition-duration: 0.5s;
}

.footerLinks ul li a:hover{
	cursor: pointer;
	color:#7c7c7c;
	text-decoration: underline;
}


.footerInfo p, .footerInfo h2, .footerLinks{
	color:  white;
}


.footerContainer p, .footerContainer ul li{
color:white;
  font-size: 14px;
    font-weight: 400;
  list-style: none;
  line-height: var(--Lineheight);
}

.CopyrightFooter{
	width: 100%;
	max-width: var(--ContainerWidth);
    padding: 1rem var(--SitePadding);
		background: var(--favBlue);
}

.FooterBottom{
		border-top: 1px solid var(--favBlue);
	display: flex;
	justify-content: space-between;
	padding:1rem 0 0 0;
}
.FooterBottom span{
	color:white;
	font-size: 12px;
}
