@charset "UTF-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css2?family=Albert+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



:root {
	/* --BorderColor: #e2e2e3; */
	/* --BorderColor: #c5c5c5; */
	--BorderColor: #d4d4d4;
	--background-color: #fafafa;
	/* --favBlue:#2F373D; */
	--favBlue:#1d2834;
	/* --LightGreyHighlight: #f4f2ee; */
 --box-shadow: 0 .2rem .6rem -.2rem rgba(33, 43, 54, .16);
	--GalleryPadding: 5rem;
	--CardsPadding:1.50rem;
	--border-radius: 1rem;
	--image-border-radius: .5rem;
	--HeroBannerWidth: 120rem;
	--ContainerWidth: 90rem;
	--Lineheight: 1.6rem;
	--SecondaryLineHeight: 5.5rem;
	--main-color: #222222;
	--secondary-color: #e9e9e9;
	--LightGrey-color: #c9c9c9;
	--CardColor: #F3F4F5;
--HeadlineFont:  "Albert Sans", sans-serif;
	--HeaderMain:4rem;
	--SubHeader: 2.5rem;
	--CardHeader:1.5em;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	text-decoration: none;
	font-optical-sizing: auto;
}


/* .Container { 
	display: grid;
	grid-template-rows: auto 1fr auto;
	grid-template-columns: minmax(0, 1fr);	
	min-height: 100vh;
	margin: 0 auto;
	width: 100%;
	box-shadow: var(--box-shadow);
	max-width: var(--ContainerWidth);
}
 */

p, p a{
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  	font-size:1rem;
	line-height: var(--Lineheight);
	color: black;
}
p a{
	text-decoration: underline;
	color: #006699;
}

 .images{
	border-radius: var(--border-radius);
	border: var(--BorderColor);
	width: 100%;
	height: auto;
	margin: 10px 0 20px 0;
}
	

html{
	overflow-x: hidden;
background-color:var(--secondary-color);
}

h1 {
	font-family: var(--HeadlineFont);
	font-size: var(--HeaderMain);
	font-weight: 700;
	letter-spacing: -.040em;
}

h1 a:hover {
	color: #333333;
}






header {
	position: sticky;
	top: 0;
	z-index: 100;
	padding: 20px 0;
	    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
border-bottom: 1px solid #dedede;
background-color:white;
}


.navContainer{
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	padding-inline: 2.5rem;
	height: inherit;
}


header .logo a{
	font-weight: 500;
	color: var(--main-color);
	text-wrap: nowrap;
	letter-spacing: -.040em;
    font-size: 2rem;
	display: flex;
	font-family: var(--HeadlineFont);
	font-style: normal;
}

header .logo a:hover{
	color:var(--secondary-color);
}

/*MAIN MENU*/
#menu-icon {
	display: none;
}
nav{
	margin: 0 auto;
}

nav ul {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 2rem;
}

nav ul li {
	list-style: none;
}

nav ul li a, .contactButton {
    color: var(--main-color);
    font-family: var(--HeadlineFont);
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 1rem;
    align-items: center;
    text-decoration: none;
    transition-duration: 0.5s;
}

nav ul li a:hover{
	cursor: pointer;
	color:#7c7c7c;
	text-decoration: underline;
}

.contactBtn {
    height: 40px;
    background-color: #033d5a;
    border: 1px solid var(--favBlue);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 30px;
    transition-duration: 0.5s;
    color: white;
}
/*MAIN MENU*/


.HeroBanner {
	padding: var(--GalleryPadding);
	width: 100%;
	max-width: var(--ContainerWidth);
}
.HeroGrid{
     display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 4rem;
    align-items: start;
}
.innerHeroCopy{
	display: flex;
	flex-direction: column;
gap:2.375rem;
}

.HeroGrid h1 {
	line-height: 4rem;
    overflow-wrap: anywhere;
}

@media (max-width: 900px) {
	.HeroBanner{
		padding:2rem;
	}

    .HeroGrid{
		display: grid;
        grid-template-columns: 1fr;
        gap: 3rem;
    }
	
  .SidebarContent {
        width: 100%;
    }

    .contentHolderHeader {
        width: 100%;
    }
}
.eyebrow{
	margin: 0 0 16px;
    color: var(--favBlue);
    font-size: 12px;
    font-weight: 800;
    letter-spacing: .13em;
}
.hero-subtitle {
    font-size: clamp(25px, 3vw, 39px);
    letter-spacing: -.016em;
}
.job-meta, .tags{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    color: #383838;
    font-weight: 600;
	font-style: bold;
}
.tags span {
    padding: 8px 16px;
    border: 1px solid #bdbdbd;
    border-radius: 999px;
    font-size: 1rem;
  font-family: "Inter", sans-serif;
}

.job-meta span:not(:first-child)::before {
    content: "•";
    margin-right: 32px;
    color: rgb(153, 153, 153);
}



/* .innerBannerButton, .innerBannerButton a{
		font-family: var(--HeadlineFont);
		    letter-spacing: 0.04em;
  display: flex;
  justify-content:flex-start;
  align-items: center;
  gap: 2rem;
  color: white;
  white-space: nowrap;
}
 */


.HeroBannerBox img{
	border-radius: var(--border-radius);
	width: 100%;
}

.ProjectHolder{
	background-color: white;
	border-radius: var(--border-radius); 
	padding: var(--GalleryPadding);
	max-width: var(--ContainerWidth);
	width: 100%;
	height:fit-content;
	margin: 20px auto;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}


 .ContentHolder{
	width: 100%;
	padding: var(--GalleryPadding);
	max-width: var(--ContainerWidth);
	background: #FFFFFF;
	/* border: 1px solid var(--BorderColor); */
	border-top: none;
	height: auto;
	display:flex;
	flex-direction: column;
	justify-content: center;
	overflow: hidden;
		 /* box-shadow: var(--box-shadow); */
}
.ContainerHero{

}
.ContentHolderGrid{
	display: grid;
grid-template-columns: repeat(auto-fit, minmax(min(398px, 100%), 1fr));
	gap: 2rem;
	outline: 2px solid #006699;
}

.contentHolderHeader h1{
	font-family: var(--HeadlineFont);
    font-size: var(--SubHeader);
	font-weight: 700;
	color: var(--favBlue);
	text-align: left;
	display: block;
	margin-left: -1px;
	margin-bottom: 10px;
}


.ContainerHero::after {
	display: block;
	content: '';
	border-bottom: 1px solid var(--secondary-color);
	width: 100%;
	padding-top: 2rem;
	margin-bottom: 2rem;
}


.CardGallery {
	display: grid;
grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); 
	gap: 2rem; 
	justify-content: center;
	width: 100%;
}


.Cards {
	display: flex;
	flex-direction: column;
	border-radius: var(--border-radius);
	border: var(--LightGrey-color) 1px solid;
	box-shadow: var(--box-shadow);
	box-sizing: border-box;
height: fit-content;
  	overflow: hidden;
}


.Cards img{
	border-top-left-radius: var(--image-border-radius);
  width: 100%;
  height: auto;
  	object-fit: cover;
	overflow: auto;
	background-size: cover;
	z-index: 1;
}

.CardInfo{
	padding: var(--CardsPadding);
}

.Cards h1{
	font-family: var(--HeadlineFont);
    font-size: var(--CardHeader);
	font-weight: 500;
	text-align: left;
	color: #000;
	margin-bottom: 1rem;
}
.Cards h1 a{
	color: var(--favBlue);
}

.Cards h1 a:hover{
	color: #006699;
			transition-duration: 0.5s;

}

.CardInfoGrid{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}


.CardInfoGridBox ul{
	display: flex;
	flex-direction: column;
	text-decoration: none;	
  list-style-type: none;
}

 .CardInfoGridBox ul li {
	color: var(--LightGrey-color);
	font-family: "Roboto", sans-serif;
	font-size: .75rem;
	font-weight: 400;	
	text-decoration: none;
	line-height: var(--Lineheight);
 }

.CardInfoGridBox ul li::before{
  content: '';
	display: inline-block;
	background-color: var(--LightGrey-color);
	border-radius: 2px;
	margin-right: 5px; 
	width: 10px;
	height: 10px;
vertical-align: -1px;
} 


.CardButton{
	display: flex;
	justify-content: flex-end;
	margin-top: auto;
}

.button-link {
	width: 100%;
	padding: var(--CardsPadding);
	background-color: var(--secondary-color);
	color: black;
	font-family: var(--HeadlineFont);
	display: flex;
	justify-content: center;
	align-items: center;
	-webkit-transition-duration: 0.5s;
	-moz-transition-duration: 0.5s;
	transition-duration: 0.5s;
}
.Cards .button-link{
	border-top: 1px solid var(--LightGrey-color);
}

.HeroBannerBox .button-link:hover, .button-link:hover {
	cursor: pointer;
	color: white;
		background: #006699;

}


.HeroBannerBox .button-link{
	max-width: fit-content;
	color:var(--main-color);
		background:white;
	border-radius: 32px;
	padding: 8px 16px 8px 16px;
}


.SiteFooter{
	width: 100%;
	max-width: var(--ContainerWidth);
	background: var(--favBlue);
	border-top: #006699 2px solid;
    padding: var(--GalleryPadding);
}

.footerGrid{
	display: grid;
	grid-template-columns: 3fr 1fr;
	gap:4rem;
}


@media (max-width: 900px) {
	.footerGrid{
		display: grid;
		grid-template-columns: 1fr;
		gap: 1.5rem;
	}
	.SiteFooter{
padding: 2rem;

	}
}


.footerLinks h2, .footerInfo h2{
	   font-family: var(--HeadlineFont);
    font-size: var(--CardHeader);
    margin-bottom: 17px;
    letter-spacing: .1em;
    text-transform: uppercase;
}

.footerLinks ul{
display: flex;
	flex-direction: column;
	align-items:flex-start;
	justify-content:left;
}

.footerLinks ul li {
	list-style: none;
}

.footerLinks  ul li a {
    color: white;
    font-family: var(--HeadlineFont);
    font-weight: 500;
    letter-spacing: 0.02em;
    font-size: 1rem;
    align-items: center;
    text-decoration: none;
    transition-duration: 0.5s;
}

.footerLinks ul li a:hover{
	cursor: pointer;
	color:#7c7c7c;
	text-decoration: underline;
}

.footer-grid a{
	display: block;
    width: fit-content;
    margin: 8px 0;
    color: #ddd;
    text-decoration: none;
}

.footerInfo p, .footerInfo h2, .footerLinks{
	color: white;
}



.footerContainer{
	width: 100%;
}

.footerContainer p, .footerContainer ul li{
color:white;
  font-size: 14px;
    font-weight: 400;
  font-family: "Lato", sans-serif;
  list-style: none;
  line-height: var(--Lineheight);
}
